* {
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
}

.slider {
    width: 1100px;
    height: 600px;
    border-radius: 20px;
    border: 5px solid gray;
    display: flex;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slides {
    width: 600px;
    height: 600px;
    overflow: hidden;

}

.slide {
    width: 600px;
    height: 600px;
    display: none;
}

.slide-img {
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

.slide-text {
    width: 600px;
    height: 200px;
}

.slide-img-1 {
    background-image: url("assets/img/1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.slide-img-2 {
    background-image: url("assets/img/2.jpg");
}

.slide-img-3 {
    background-image: url("assets/img/3.jpg");
}

.slide-img-4 {
    background-image: url("assets/img/4.jpg");
}

.radio-btn {
    display: none;
}

.navigation {
    display: flex;
    height: 20px;
}

.bar {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    border: 10px solid azure;
}

.slide-1 {
    display: block;
}
